
.post-container {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.thread-container {
	margin-bottom: 3em;
}

.post-header-id {
	margin-right: 0.5em;
}

.post-header-date {
	float: right;
}

.post-header-topic {
	font-weight: bold;
	margin-right: 0.5em;
}

.label-sage {
	background-color: black;
	color: white;
}

.post-image {
	margin-right: 10px;
	margin-bottom: 10px;
}

.post-body {
	word-wrap: break-word;
}
.post-body-bold {
	font-weight: bold;
}

.post-body-italic {
	font-style: italic;
}

.post-body-spoiler {
	color: gray;
	background-color: gray;	
}

.post-body-spoiler:hover {
	color: black;
}

.post-body-underline {
	text-decoration: underline;
}