
.breadcrumb-navbar {
	margin-top: 0;
}

.icon-usercount {
	margin-right: 0.2em;
}

.main-page-container {
	text-align: center;
}

.main-page-threads-container {
	margin-top: 2em;
	text-align: left;
}

.post-container {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	position: relative;
}

.post-deleted {
	opacity: 0.4;
}

.post-deleted-body {
	font-style: italic;
}

.thread-container {
	margin-bottom: 4em;
}

.thread-skipped {
	text-align: center;
}

.thread-skipped-count {
	display: inline-block;
	margin: 0 auto;
	font-size: 0.8em;
	font-style: italic;
}

.post-ip-ident-elem {
	font-size: 0.8em;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin-right: 0.2em;
	border-radius: 3px;
	padding: 0.2em;
}

.post-header-id {
	margin-right: 0.5em;
}

.post-header-country, .post-answer, .post-ip-ident, .post-thread-attrs {
	margin-right: 0.5em;
}

.post-header-date {
	float: right;
}

.post-header-topic {
	font-weight: bold;
	margin-right: 0.5em;
}

.post-answers {
	font-size: 0.9em;
	margin-top: 1em;
}

.label-sage {
	background-color: black;
	color: white;
}

.label-admin {
	background-color: purple;
}

.post-files {
	max-width: 100%;
}

.post-files-many {
	width: 100%;
}

.post-image {
	vertical-align: top;
	margin-right: 10px;
	margin-bottom: 10px;
}

.post-video-thumb {
	display: inline-block;
	cursor: pointer;
	position: relative;
	max-width: 100%;
}

.post-video-playicon {
	font-size: 2em;
	display: inline;
	color: white;
	background-color: black;
	position: absolute;
	bottom: 4px;
	left: 4px;
}

.post-video {
	width: 100%;
}

.post-body {
	word-wrap: break-word;
	min-width: 50%;
}
.post-body-bold {
	font-weight: bold;
}

.post-body-italic {
	font-style: italic;
}

.post-body-spoiler {
	color: gray;
	background-color: gray;	
}

.post-body-spoiler:hover {
	color: black;
}

.post-body-underline {
	text-decoration: underline;
}

.post-body-quote {
	color: #789922;
	font: inherit;
	padding: 0.5em 1em;
	margin: 0 0 0.5em;
}

.post-actions {
	position: absolute;
	right: 0;
	bottom: 0;
}

.post-actions > a {
	margin-right: 0.5em;
}

.post-embed {
	display: block;
	margin: 1em;
}

.previews {
	top: 0;
	left: 0;
	width: 100%;
}
.preview {
	position: absolute;
}

.notifications {
	position: fixed;
	right: 0;
	bottom: 0;
	text-align: right;
}

.notification-enter {
	margin-right: -10em;
	opacity: 0.01;
}

.notification-enter.notification-enter-active {
	margin-right: 0;
	opacity: 1;
	transition: margin-right 0.5s ease-in, opacity 0.5s ease-in;
}

.notification-leave {
 	opacity: 1;
}

.notification-leave.notification-leave-active {
	opacity: 0.01;
	transition: opacity 0.5s ease-in;
}